body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin-bottom: 10px; /* Reduced margin-bottom */
}

.video-responsive {
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    position: relative;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
